.info-card {
  background-color: #23252c;
  width: 550px;
  height: 868px;
  background-image: url(./image.png);
  background-size: 317px 317px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-details {
  background-color: #1a1b21;
  width: 317px;
  height: 399px;
  margin-top: 317px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 21px 35px;
}

h1 {
  width: 179px;
  height: 31px;
  font-size: 25px;
  align-self: center;
  font-weight: 700;
  text-align: center;
}

h3 {
  height: 15px;
  width: 179px;
  color: #F3BF99;
  font-size: 13px;
  align-self: center;
  text-align: center;
  margin-top: 6px;
}

h5 {
  width: 228px;
  height: 16px;
  font-weight: 400;
  font-size: 11px;
  margin-top: 8px;
  align-self: center;
  text-align: center;
}

.card-text {
  width: 247px;
  height: 201px;
  margin-top: 33px;
  align-self: center;
}

.card-text h2 {
  width: 243px;
  height: 21px;
  font-size: 16px;
}

.card-text p {
  height: 61px;
  font-size: 10px;
  color: #DCDCDC;
}

.contact-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.email-btn {
  width: 115px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.email-btn:last-of-type {
  width: 100%;
}

.btn-icon {
  width: 14px;
  height: 13px;
}

.btn-text {
  width: 36px;
  height: 16px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.linkedIn-btn {
  width: 115px;
  height: 34px;
  background: #5093E2;
  color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  border: 1px solid #5093E2;
}

.card-media {
  width: 317px;
  height: 64px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-icon {
  width: 25px;
  height: 25px;
  margin: 12px;
}