* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1c1c1c;
}

.App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 49px;
    color: #FFFFFF;
    padding: 53px 82px 56px 65px;
}

@media only screen and (max-width: 770px) {
    .App {
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        row-gap: 49px;

    }
}